body {
    margin: 0;
    font-family: Arial, cursive, sans-serif;
}

.hero-image {
    background-image: url("Crepe_Factory.jpeg");
    background-color: #cccccc;
    height: 753px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

section {
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    transform: translateY(40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3a5a409c;
    border-radius: 20px;
    box-shadow: 0px 0 31px 0px rgb(0 0 0 / 10%);
}

h1 {
    margin: 20px 0 10px 0;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Poppins', cursive;
}

.check-form {
    width: 100%;
    margin-bottom: 15px;
}

.play-btn {
    border: none;
    padding: 7px 20px;
    width: 50%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', cursive;
    background-image: linear-gradient(43deg, #a3b18af6 0%, #dad7cdf4 100%);
    color: white;
    font-weight: 600;
}