<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Safran</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_le_safran.css') }}">
</head>

<body>

    <form method="POST" action="/">

        <div class="hero-image">
            <div class="hero-text">
                <section>
                    <h1>Le Safran</h1>
                    <h5>
                        Le Safran Turkish Premium Restaurant-Café-Huqqa
                        <br> Une expérience culinaire exceptionnelle sur les rives du lac de Tunis </h5>
                    <div class="check-form">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25546.462793226034!2d10.210109579101555!3d36.835102600000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd35424f000b6b%3A0x2c01148d2b685e63!2sLe%20Safran!5e0!3m2!1sfr!2stn!4v1671459627531!5m2!1sfr!2stn"
                            width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                    <a class="btn btn-primary play-btn" href="http://127.0.0.1:5000/" role="button">Return</a>
                </section>
            </div>
        </div>
    </form>
</body>

</html>