<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trattoria_Crock_Pizza</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='Trattoria_Crock_Pizza.css') }}">
</head>

<body>

    <form method="POST" action="/">

        <div class="hero-image">
            <div class="hero-text">
                <section>
                    <h1>Trattoria Crock Pizza</h1>
                    <h5>
                        Crock: rafaire of the Italian pizza in Tunis. A real popular and quality dish.
                    </h5>
                    <div class="check-form">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.2203500308187!2d10.152997015249332!3d36.86114417993603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd334cc65f9729%3A0x3c704ab6af83ec20!2sTrattoria%20Crock!5e0!3m2!1sfr!2stn!4v1671471504833!5m2!1sfr!2stn"
                            width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <a class="btn btn-primary play-btn" href="http://127.0.0.1:5000/" role="button">Return</a>
                </section>
            </div>
        </div>
    </form>
</body>

</html>